final/final/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1308/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1308/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1308/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/finalwcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_islogin_InputMessage">
    <wsdl:part name="parameters" element="tns:islogin" />
  </wsdl:message>
  <wsdl:message name="IService1_islogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isloginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isadd_InputMessage">
    <wsdl:part name="parameters" element="tns:isadd" />
  </wsdl:message>
  <wsdl:message name="IService1_isadd_OutputMessage">
    <wsdl:part name="parameters" element="tns:isaddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reset_InputMessage">
    <wsdl:part name="parameters" element="tns:reset" />
  </wsdl:message>
  <wsdl:message name="IService1_reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_changee_InputMessage">
    <wsdl:part name="parameters" element="tns:changee" />
  </wsdl:message>
  <wsdl:message name="IService1_changee_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_showAll_InputMessage">
    <wsdl:part name="parameters" element="tns:showAll" />
  </wsdl:message>
  <wsdl:message name="IService1_showAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:showAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isad_InputMessage">
    <wsdl:part name="parameters" element="tns:isad" />
  </wsdl:message>
  <wsdl:message name="IService1_isad_OutputMessage">
    <wsdl:part name="parameters" element="tns:isadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_islog_InputMessage">
    <wsdl:part name="parameters" element="tns:islog" />
  </wsdl:message>
  <wsdl:message name="IService1_islog_OutputMessage">
    <wsdl:part name="parameters" element="tns:islogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_creset_InputMessage">
    <wsdl:part name="parameters" element="tns:creset" />
  </wsdl:message>
  <wsdl:message name="IService1_creset_OutputMessage">
    <wsdl:part name="parameters" element="tns:cresetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_cchangee_InputMessage">
    <wsdl:part name="parameters" element="tns:cchangee" />
  </wsdl:message>
  <wsdl:message name="IService1_cchangee_OutputMessage">
    <wsdl:part name="parameters" element="tns:cchangeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_showAll2_InputMessage">
    <wsdl:part name="parameters" element="tns:showAll2" />
  </wsdl:message>
  <wsdl:message name="IService1_showAll2_OutputMessage">
    <wsdl:part name="parameters" element="tns:showAll2Response" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="islogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/islogin" message="tns:IService1_islogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isloginResponse" message="tns:IService1_islogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isadd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isadd" message="tns:IService1_isadd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isaddResponse" message="tns:IService1_isadd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reset" message="tns:IService1_reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetResponse" message="tns:IService1_reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/changee" message="tns:IService1_changee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/changeeResponse" message="tns:IService1_changee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/showAll" message="tns:IService1_showAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showAllResponse" message="tns:IService1_showAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isad" message="tns:IService1_isad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isadResponse" message="tns:IService1_isad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="islog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/islog" message="tns:IService1_islog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/islogResponse" message="tns:IService1_islog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="creset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/creset" message="tns:IService1_creset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/cresetResponse" message="tns:IService1_creset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cchangee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/cchangee" message="tns:IService1_cchangee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/cchangeeResponse" message="tns:IService1_cchangee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showAll2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/showAll2" message="tns:IService1_showAll2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showAll2Response" message="tns:IService1_showAll2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="islogin">
      <soap:operation soapAction="http://tempuri.org/IService1/islogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isadd">
      <soap:operation soapAction="http://tempuri.org/IService1/isadd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reset">
      <soap:operation soapAction="http://tempuri.org/IService1/reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changee">
      <soap:operation soapAction="http://tempuri.org/IService1/changee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showAll">
      <soap:operation soapAction="http://tempuri.org/IService1/showAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isad">
      <soap:operation soapAction="http://tempuri.org/IService1/isad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="islog">
      <soap:operation soapAction="http://tempuri.org/IService1/islog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creset">
      <soap:operation soapAction="http://tempuri.org/IService1/creset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cchangee">
      <soap:operation soapAction="http://tempuri.org/IService1/cchangee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showAll2">
      <soap:operation soapAction="http://tempuri.org/IService1/showAll2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1308/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>