final/final/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/finalwcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/finalwcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfClass1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class1" nillable="true" type="tns:Class1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass1" nillable="true" type="tns:ArrayOfClass1" />
  <xs:complexType name="Class1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="New_password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class1" nillable="true" type="tns:Class1" />
  <xs:complexType name="ArrayOfCustClass1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustClass1" nillable="true" type="tns:CustClass1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustClass1" nillable="true" type="tns:ArrayOfCustClass1" />
  <xs:complexType name="CustClass1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Npassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustClass1" nillable="true" type="tns:CustClass1" />
  <xs:complexType name="ArrayOfaddy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addy" nillable="true" type="tns:addy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaddy" nillable="true" type="tns:ArrayOfaddy" />
  <xs:complexType name="addy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Capacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Routee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addy" nillable="true" type="tns:addy" />
</xs:schema>