CustomerFinal/CustomerFinal/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/custwcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/custwcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfCustClass1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustClass1" nillable="true" type="tns:CustClass1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustClass1" nillable="true" type="tns:ArrayOfCustClass1" />
  <xs:complexType name="CustClass1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Npassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustClass1" nillable="true" type="tns:CustClass1" />
</xs:schema>